<section role="tablist">

    <section role="tabpanel">
        <header>
            <h2 data-bind="i18n: 'TitleDashboard'"></h2>
        </header>
        <div>
            <div class="forecast">

                <!-- ko if: isLoading -->
                <div class="spinner"></div>
                <!-- /ko -->

                <!-- ko foreach: DailyForecast -->
                <figure>
                    <span data-bind="text: $data.day"></span>
                    <i data-bind="css: $data.css, attr: { title: $data.cond }"></i>
                    <figcaption>
                        <span class="temp" data-bind="text: $data.temp"></span>
                        <span class="rain" data-bind="text: $data.rain, attr: { title: 'Precipitation' }"></span>
                        <span class="ETo" data-bind="text: $data.ETo, attr: { title: 'Evapotranspiration (ETo)' }"></span>
                    </figcaption>
                </figure>
                <!-- /ko -->
            </div>

            <label data-bind="i18n: 'LabelSchedule'"></label>

            <!-- ko if: configuredZones().length === 0 -->
            <h2 class="contentUnavailable" data-bind="i18n: 'LabelNoZonesConfigured'"></h2>
            <!-- /ko -->

            <!-- ko foreach: { data: configuredZones, as: 'zone', noChildContext: true } -->
            <div class="card">
                <h4 data-bind="text: zone.name"></h4>
                <!-- ko if: zone.enabled -->
                <!-- ko ifnot: zone.isRunning -->
                <small data-bind="text: NextRun(zone)"></small>
                <!-- ko if: zone.schedule.duration -->
                <button data-bind="text: NextDuration(zone), click: $parent.scheduleOptions.bind(null, zone)"></button>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: zone.isRunning -->
                <small data-bind="i18n: 'TextIsRunning'"></small>
                <button data-bind="i18n: 'BtnStop', click: $parent.confirmStop.bind(null, zone)"></button>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: zone.enabled -->
                <small data-bind="i18n: 'TextZoneDisabled'"></small>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </section>
</section>
