<section role="tablist">

    <section role="tabpanel">
        <header>
            <h2 data-bind="i18n: 'TitlePreferences'"></h2>
        </header>
        <div>
            <div class="app-info">
                <img src="img/app-icon.png" alt="App Icon"></a>
                <h2>Sprinklers</h2>
                <p><b>v0.4.3</b> (2025-12-01)</p>
            </div>
            <label>
                <a class="select" data-bind="navLink: 'Language', i18n: 'TitleLanguage'"></a>
            </label>
            <label>
                <a class="select" data-bind="navLink: 'Licenses', i18n: 'TitleLicenses'"></a>
            </label>
        </div>
    </section>

    <section id="Language" role="tabpanel" hidden>
        <header>
            <button class="left" data-bind="navLink: null, i18n: 'BtnBack'"></button>
            <h2 data-bind="i18n: 'TitleLanguage'"></h2>
        </header>
        <div>
            <fieldset>
                <!-- ko foreach: Languages -->
                <label class="radio">
                    <!-- ko text: name --><!-- /ko -->
                    <input type="radio" name="language" data-bind="checkedValue: code, checked: $parent.Prefs.language">
                </label>
                <!-- /ko -->
            </fieldset>
        </div>
    </section>

    <section id="Licenses" role="tabpanel" hidden>
        <header>
            <button class="left" data-bind="navLink: null, i18n: 'BtnBack'"></button>
            <h2 data-bind="i18n: 'TitleLicenses'"></h2>
        </header>
        <div>
            <iframe src="licenses.html"></iframe>
        </div>
    </section>

</section>
