/* --- card --- */

.card {
    position: relative;
    display: block;
    margin: 6px 0 0 0;
    padding: 16px 16px 12px 16px;
    background: var(--secondarySystemGroupedBackground);
    border-radius: 9px;
}
.card:after {
    display: table;
    content: "";
    clear: both;
}
.card button {
    position: absolute;
    display: block;
    top: 50%;
    right: 18px;
    width: auto;
    height: 34px;
    min-height: 34px;
    margin: -17px 0 0 0;
    padding: 0 16px;
    font-size: 1.0625rem;
    font-weight: 400;
    color: var(--accent-color);
    border: 1px solid var(--quaternaryLabel);
    border-radius: 17px;
    box-shadow: none;
    outline: none;
    background-color: var(--secondarySystemGroupedBackground);
}


/* --- forecast --- */

.forecast {
    display: block;
    position: relative;
    min-height: 290px;
    background: var(--accent-color) url("../img/wallpaper.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.forecast:after {
    display: table;
    content: "";
    clear: both;
}

@media screen and (max-width: 767px) {
    .forecast {
        margin: -16px -16px 16px -16px;
        padding: 16px 16px 20px 16px;
        border-radius: none;
    }
}
@media screen and (min-width: 768px) {
    .forecast {
        margin: 0 0 32px 0;
        padding: 24px 24px 32px 24px;
        border-radius: 9px;
    }
}

figure {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    width: calc(100% / 6);
}
figure i.wi {
    height: max(4.5vw, 4.5vh);
    max-height: 56px;
    margin: 9px 0 8px 0;
    color: #fff;
}
figure span {
    display: block;
    font-size: 1rem;
    color: #fff;
}

figure .rain, figure .ETo {
    margin: 4px 3px 0 3px;
    padding: 5px 4px 4px 4px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    opacity: .6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
figure .rain {
    margin-top: 12px;
    color: #000;
    background: #fff;
    mix-blend-mode: lighten;
}
figure .ETo {
    padding: 4px 4px 3px 4px;
    color: #fff;
    border: 1px solid #fff;
}

figure:first-of-type {
    float: none;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0 0 0.75rem 0;
    border-bottom: 1px solid rgba(255,255,255,.4);
}
figure:first-of-type::after {
    display: table;
    content: "";
    clear: both;
}
figure:first-of-type > span {
    font-size: 1.0625rem;
    font-weight: 400;
    padding: 0 0 5px 0;
}
figure:first-of-type i.wi {
    display: block;
    float: left;
    width: 33.3%;
    height: max(9vw, 9vh);
    max-height: 90px;
    margin: 0;
}
figure:first-of-type figcaption {
    display: block;
    width: 100%;
    height: max(9vw, 9vh);
    max-height: 90px;
    padding: 0 0 0 33.3%;
}
figure:first-of-type figcaption span:first-of-type {
    display: block;
    float: left;
    width: 55%;
    height: max(9vw, 9vh);
    max-height: 90px;
    margin: 0 7.5% 0 0;
    font-size: 2.5rem;
    line-height: min(90px, max(9vw, 9vh));
}

figure:first-of-type figcaption .rain,
figure:first-of-type figcaption .ETo {
    position: relative;
    display: block;
    float: none;
    margin: 0;
    padding: 5px 10px;
    font-size: 0.8125rem;
    text-align: right;
}
figure:first-of-type figcaption .rain {
    top: calc(50% - (12px + 0.8125rem));
}
figure:first-of-type figcaption .rain::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 0.8125rem;
    height: 0.8125rem;
    -webkit-mask-image: url("../img/icon-drop.svg");
    -webkit-mask-size: 110%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    background: #000;
}
figure:first-of-type figcaption .ETo {
    top: calc(50% - (8px + 0.8125rem));
}
figure:first-of-type figcaption .ETo::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 0.8125rem;
    height: 0.8125rem;
    -webkit-mask-image: url("../img/icon-dry.svg");
    -webkit-mask-size: 110%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    background: #fff;
}



/* ---  login dialog --- */

#login {
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 268px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border: none;
    background: transparent;
    outline: 0;
    z-index: 1100;
}
#login .logo {
    position: relative;
    margin: 0 auto 15px auto;
    width: 190px;
}
#login * {
    color: #fff;
}
#login input {
    margin: 13px 0 0 0;
    padding: 9px 18px;
    width: 100% !important;
    min-height: 44px;
    font-size: 1.0625rem;
    font-weight: 500;
    border-radius: 22px;
    border: none;
    background: rgba(255,255,255,.4);
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    outline: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
}
#login input::placeholder {
    color: rgba(255,255,255,.5);
}
#login ::-webkit-credentials-auto-fill-button {
    background-color: #fff;
}


/* --- miscellaneous stuff --- */

.app-info {
    margin: 16px 0 48px 0;
    text-align: center
}
.app-info img {
    margin: 0 0 8px 0;
}
.app-info h2 {
    height: 60px;
    font-size: 0;
    line-height: 0;
}
.app-info h2::after {
    content: "";
    display: block;
    width: 224px;
    height: 60px;
    margin: 0 auto;
    -webkit-mask-image: url("../img/sprinklers.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    background: var(--accent-color);
}

.spinner {
    width: 64px;
    height: 64px;
    margin: 95px auto;
    background: transparent url("../img/spinner.svg") 50% 50% no-repeat;
    background-size: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}
